<!doctype html>
<html ng-app="SwiftAngular">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>yeomanTest</title>
    <link rel="stylesheet" href="bootstrap.css">
  </head>
  <body>
	
    <div class="container" ng-controller="MainCtrl">
        <div>
            <h1>Web View</h1>
        </div>
        <div style="margin-top: 20px;" class="btn btn-primary" ng-click="hello()"> hello Jagaa </div>
        <div>
            <span>Write some text in textbox:</span>
            <input type="text" ng-model="sometext" />
            
            <h1 ng-show="sometext">Hello {{ sometext }}</h1>
        </div>
        
        <div ng-view></div>
    </div>
    
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
    <script src="mainService.js"></script>
    <script src="mainCtrl.js"></script>
    


  </body>
</html>
